
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
   
}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* __________________________________________________________________ */



nav {
    width: 100%;
    height: 6rem;
    background-color:rgb(58, 105, 192);
    padding:0 20%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}



nav .menu {
    display:flex;
   
    
}

.nav-links{
    display:flex;
   align-items: center;
  
} 
.nav-auth-links {
    display: flex;
    align-items: center;
}



nav ul { list-style: none;
    color:aliceblue;
    font-size: 1.6rem;
}

nav li{
    margin-left:4rem;

}

nav .logo {
    color: aliceblue;
    font-size:2.5em;


}



section {
    padding: 0 25%;
    margin: 4rem 0;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}


h4 {
    margin-top: 1.8rem;
    margin-bottom: .8rem;
    font-size: 1.6rem;
}


p {
    padding: 1.3rem 0;
}
img {
    width: 100%;
    height: 100%;
    
}







.hero {
    width: 100%;
    height: 40rem;
    background-color: black;
    display: flex;
    border-radius: .8rem .8rem;
}


.left-hero {
    width: 40%;
    height: 100%;
    background-color: rgb(22, 45, 121);
    color: white;
    position: relative;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.left-hero-header {
    text-align: center;

}

.course-type {
    border-radius: 3rem;
    background-color: rgb(88, 98, 143);
    border: none;
    color: white;
    padding: .7rem .9rem;
    font-size: .8rem;
    font-weight: 800;
}

.hero-paragrahps {
    padding: 0 1.8rem;
}


.left-hero-buttons{
    width: 100%;
    height: 5rem;
    background-color: rgb(8, 21, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 2rem;
    border-bottom-left-radius: 0.8rem;
    

} 


.l-hero-buttons {
    margin-right: .6rem;
    background-color: rgb(88, 98, 143);
    color: white;
    border: none;
    padding: .8rem 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: .5rem;
    

}

.third-btn {
    background-color: rgb(231, 56, 114);

}

.right-hero {
    width: 60%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: .8rem;
    display: flex;
    justify-content: stretch;
    align-items: center;

}

.video-frame {
    display: flex;
    justify-content: center;
    align-items: stretch;

}
.bottom-header {
    text-align: center;
    color: rgb(31, 37, 59);

}

.bottom-section {
    width: 32%;
    margin-top: 2rem;
    background-color: rgb(59, 42, 104);
    display: flex;
    flex-direction: column;
    justify-content: center
}

.bottom-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.card-text2 {
    background-color:rgb(7, 71, 80) ;

}

.card-text3 {
    background-color:rgb(10, 64, 95) ;

}



.bottom-box-dec {
    height: 3rem;
    background-color: rgb(32, 9, 61);
}

.box-dec2 {
    background-color: rgb(7, 59, 66);
}

.box-dec3 {
    background-color: rgb(7, 54, 82);
}



.bottom-header {
    margin-top: 6rem;
}

.bottom-card-button {
    margin-right: .6rem;
    background-color: rgb(98, 88, 143);
    color: white;
    border: none;
    padding: .8rem 1rem;
    font-size: .8rem;
    font-weight: 800;
    border-radius: 2rem;
    
    
}

.card-button2 {
    background-color:rgb(13, 132, 148) ;
}

.card-button3 {
    background-color:rgb(28, 102, 145)  ;
}

.last-cards{
    display: flex;
    justify-content: space-between;
}


.subscription-bar {
    background-color: rgb(58, 105, 192);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 3.6rem 25%;
    
}

.subscription-buttion {
    margin-right: 10rem;
}

.subcription-buttion {
    margin-bottom: 9rem;
}

.submit-email {
    width: 20rem;
    padding: .8rem;
    border: none;
    border-radius: .4rem;
}

.submit-button {
    padding: .8rem;
    border: none;
    border-radius: .4rem;
    background-color: rgb(60, 141, 196);
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding: auto 4rem;
}
.sub-padding {
    padding: .5rem 0;

}

.update-padding {
    margin: 0;
}

footer {
    padding: 4rem 25%;
    background-color: rgb(0, 19, 80);
    color: white;
}

.fotter-rows {
    display: flex;
    justify-content: space-between;

}
.fotter-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    margin: .6rem 0;
}
.bottom {
    padding-bottom: 3rem;
    
}
.fotter-headers {
    padding-bottom: 1.6rem;
}



.fake-icon-text {
    display: flex;
    align-items: center;
    
}

.fake-icon {
    max-width: 14%;
    max-height: 14%;
    margin-right:.5rem;
/* 
.right-hero .course-type {
    background-color: rgb(47, 46, 119, .8);
     */

    

}

